.button{
    position: absolute;

    border: none;/* 枠の黒線除去 */
    border-radius: 15px;/* 枠の角を丸く */
    background: linear-gradient(var(--button-color), color-mix(in srgb, var(--button-color) 50%, black));/* グラデーション；立体感 */
    color: white;/* ボタンの文字色 */
    box-shadow: 0 4px 0 color-mix(in srgb, var(--button-color) 30%, black);/* 影；立体感 */

    text-shadow:
        0 2px 0 rgb(120,120,120),/* 文字の影 */
        0 8px 12px rgba(0,0,0,0.5);

    cursor: pointer;/* ボタンに置いたときのカーソルの形 */
    transition: 0.4s;/* 画面遷移の猶予 */
}
.button:hover{
    background: linear-gradient(color-mix(in srgb, var(--button-color) 90%, black), color-mix(in srgb, var(--button-color) 45%, black));/* ボタンにカーソルを置いたときのボタンの色 */
}
.button:active{
    box-shadow: 0 2px 0 color-mix(in srgb, var(--button-color) 30%, black);/* 影を小さく */
}

/*=== タイトル画面 ===*/
/* スタートボタン */
#start-button{
    --button-color: rgb(26, 210, 14);
    bottom: 16%;
    left: 50%;
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    transform: translateX(-50%);/* 自分のサイズ参照で位置調整 */
    
    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#start-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/* ルール設定ボタン */
#rule-button{
    --button-color: rgb(14, 40, 210);
    bottom: 2.5%;
    left: 50%;
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    transform: translateX(-50%);/* 自分のサイズ参照で位置調整 */
    
    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#rule-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/*=== ゲーム画面 ===*/
/* タイトル行きボタン */
#back-to-title-button{
    --button-color: rgb(75, 74, 74);
    top: 0%;
    left: 0%;
    width: clamp(60px, 6vw, 100px);
    height: 30px;
    transform: translate(10%, 30%);/* 自分のサイズ参照で位置調整 */

    font-size: clamp(0.7rem, 1.2vw, 0.9rem);/* ボタンの文字サイズ */
}
#back-to-title-button:active{
    transform: translate(10%, 30%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/* カード出すボタン */
#play-button{
    --button-color: rgb(8, 151, 191);
    right: 30px;
    bottom: 20px;
    width: clamp(30px, 6vw, 40px);
    height: 20px;
    transform: translateX(-50%);/* 自身の大きさの半分だけ左に；中央に置くため */

    font-size: clamp(0.5rem, 1.4vw, 0.8rem);/* ボタンの文字サイズ */
}
#play-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/*=== ルール設定画面 ===*/
/* タイトル行きボタン */
#apply-button{
    --button-color: rgb(14, 40, 210);
    bottom: 2.5%;
    left: 50%;
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    transform: translateX(-50%);/* 自分のサイズ参照で位置調整 */

    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#apply-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}