/* common.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.screen{
    width: 100vw;
    height: 100vh;

    position: relative;
}

.area{
    position: relative;
}

.wood-like {
    display: inline-block;
    padding: 8px;

    background:
        linear-gradient(
            135deg,
            #8b5a2b 0%,
            #d2a15d 20%,
            #6b3e1e 45%,
            #b87333 70%,
            #5a3218 100%
        );

    box-shadow:
        0 4px 8px rgba(0,0,0,0.5),
        inset 0 2px 4px rgba(255,255,255,0.35),
        inset 0 -4px 6px rgba(0,0,0,0.4);

    color: white;
}

.hidden{
    display: none;
}