#game-screen{
    background-color: green;
}

#field {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);

    background-color: #0a4a0a;

    gap: -10px;
}

#player-area {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60%;
    height: 20%;
    transform: translate(-50%);

    background-color: #0a4a0a;
}

#hand {
    display: flex;

    gap: -20px;
}
#hand .card {
    margin-left: -40px;
}
#hand .card:first-child {
    margin-left: 0;
}