/*
#player-area
#player-name
#hand
*/

#player-area {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60%;
    height: 20%;
    transform: translateX(-50%);
}

#player-name{
    position: absolute;
    left: 0%;
    top: 0;
    transform: translateX(-50%);
}

#play-button{
    position: absolute;
    right: 30px;
    bottom: 20px;
}

#hand{
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}