/* gameScreen.css */
#game-screen{
    background-image: url(../../images/background/green_diamond_PC.jpg);
}

#info-area{
    position: absolute;
    top: 10%;
    left: 50%;
    width: clamp(120px, 80%, 600px);
    height: 20%;
    transform: translate(-50%, -50%);

    background-color: rgb(213, 207, 207);
    border: 8px solid black;
    border-radius: 15px;/* 枠の角を丸く */
}

#player-area{
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translateX(-50%);
}

#player-name{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(10%, -30%);

    color: black;

    background: white;
    padding: 0px 5px;

    border: 2px solid #888;
    border-radius: 12px;
}