/* gameScreen.css */
#game-screen{
    background-color: green;
}

#info-area{
    position: absolute;
    top: 40%;
    left: 50%;
    width: clamp(100px, 70%, 500px);
    height: 40%;
    transform: translate(-50%, -50%);

    background-color: #0a4a0a;

    border-radius: 50%;
}

#field{
    position: absolute;
    top: 40%;
    left: 50%;
    width: clamp(100px, 70%, 500px);
    height: 40%;
    transform: translate(-50%, -50%);

    background-color: #0a4a0a;

    border-radius: 50%;

    gap: -10px;
}

#player-area{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translateX(-50%);
}