/* gameScreen.css */
#game-screen{
    background-color: green;
}

#player-name{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(10%, -30%);

    color: black;

    background: white;
    padding: 0px 5px;

    border: 2px solid #888;
    border-radius: 12px;
}

#info-area{
    position: absolute;
    top: 10%;
    left: 50%;
    width: clamp(120px, 80%, 600px);
    height: 20%;
    transform: translate(-50%, -50%);

    background-color: rgb(10,74,10);
    border: 2px solid rgb(95, 56, 56);   /* 縁取り */
}

#field{
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(100px, 70%, 500px);
    height: 40%;
    transform: translate(-50%, -50%);

    background-color: rgb(10,74,10);

    border-radius: 50%;
    border: 2px solid rgb(95, 56, 56);   /* 縁取り */

    gap: -10px;
}

#player-area{
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translateX(-50%);
}